<template name="groups">
  <section id="groups">
    {{#if notInGroup}}
      You're not a part of any group, perhaps create one?
    {{/if}}
    {{#each userGroups}}
      {{> group this}}
    {{/each}}
    {{> addBox id="addGroup"}}
  </section>
</template>

<template name="group">
  <div class="scores">
    <h2>{{name}}</h2>
    {{#each slots}}
      <div class="slot">
        <div class="score">{{groupScore ../name}}</div>
        <div class="groupLabels" data-slot="{{@index}}" data-group="{{../name}}" >
          {{> labelList this}}
        </div>
      </div>
    {{/each}}
    <div class="new slot">
      <div class="score"></div>
      <div class="groupLabels" data-slot="{{newSlotNumber}}" data-group="{{name}}" >
      </div>
    </div>
  </div>
</template>

<template name="slot">
</template>
