<head>
  <title>Java knowledge classifier</title>
</head>
<body>
  <header>
      {{> loginButtons}}
  </header>
  {{#if currentUser}}
    {{> menu}}
    {{#if showLabels}}
      {{> labels}}
    {{/if}}
  {{/if}}

  {{#if showGroups}}
    {{> groups}}
  {{/if}}

  {{#if showSkills}}
    {{> skills}}
  {{/if}}
</body>

<template name="menu">
  <div id="menu">
    <div id="labels" class="toggle"></div>
    <div id="group" class="toggle"></div>
    <div id="skills" class="toggle"></div>
  </div>
</template>

<template name="labels">
  <div id="labelList">
    {{> labelList labels}}
    {{> addBox id="addLabel"}}
    <img id="dragula" src="/images/dragula.png" />
  </div>
  <br />
</template>

<template name="labelList">
  {{#each this}}
    <span class="label" style="background-color: {{colour}}">{{name}}</span>
  {{/each}}
</template>

<template name="addBox">
  <div id="{{id}}" class="addBox"><input type="textbox" /><img src="/images/button_add.png" /></div>
</template>
