.slot {
  min-height: 80px;
  min-width: 60px;
  max-width: 200px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

.slot .score {
  font-size: 48px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
}

.slot.new .groupLabels {
  height: 20px;
}

.slot.new:hover .score, .slot.targeted .score {
  box-shadow: 0px 0px 20px 0px aliceblue inset;
}
