body {
    background-color: black;
    font-family: helvetica, sans-serif;
    color: white;
}

.addBox img {
  margin-left: 2px;
  margin-bottom: -5px;
  height: 18px;
  cursor: pointer;
}

#dragula {
  height: 16px;
}

#login-buttons {
  right: 200px;
  position: absolute;
}
